# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
ENV/

# Distribution files
build/
dist/
*.egg-info/

# OS Files
.DS_Store

# Tests and coverage
.tox/
.pytest_cache/
coverage/
*.cover

# Local development
.env
